<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
 
    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">.\logs</Property>
    </Properties>
     
    <Appenders>
     
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
         
        <!-- File Appenders on need basis -->
        <RollingFile name="debugLog" fileName="${APP_LOG_ROOT}/log_debug.log"
            filePattern="${APP_LOG_ROOT}/log-debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
         
        <RollingFile name="infoLog" fileName="${APP_LOG_ROOT}/log_info.log"
            filePattern="${APP_LOG_ROOT}/log-info-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
         
        <RollingFile name="errorLog" fileName="${APP_LOG_ROOT}/log_error.log"
            filePattern="${APP_LOG_ROOT}/log-error-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
         
    </Appenders>
 
    <Loggers>

        <Logger name="br.com.syngenta.schedule">
            <AppenderRef ref="debugLog" level="debug"/>
            <AppenderRef ref="infoLog" level="info"/>
        </Logger>
        
         <Logger name="br.com.syngenta.service">
            <AppenderRef ref="debugLog" level="debug"/>
            <AppenderRef ref="infoLog" level="info"/>
            <AppenderRef ref="errorLog" level="error"/>
        </Logger>
        
        <Logger name="br.com.syngenta.util" level="debug">
            <AppenderRef ref="debugLog" level="debug"/>
        </Logger>
        
        
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
 
    </Loggers>
 
</Configuration>